<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libreria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Libreria">
        <activity
            android:name=".MainActivity9"
            android:exported="false"
            android:label="@string/activity_main9name" />
        <activity
            android:name=".MainActivity8"
            android:exported="false"
            android:label="@string/activity_main8name" />
        <activity
            android:name=".MainActivity7"
            android:exported="false"
            android:label="@string/activity_main7name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity6"
            android:exported="false"
            android:label="@string/activity_main6name" />
        <activity
            android:name=".MainActivity5"
            android:exported="false"
            android:label="@string/activity_main5name" />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:label="@string/activity_main4name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:label="@string/activity_main3name" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/activity_main2name" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/activity_main1name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>